build --java_toolchain=@remote_java_tools_linux//:toolchain_jdk_15
build --host_java_toolchain=@remote_java_tools_linux//:toolchain_jdk_15
build --javabase=@openjdk15_linux_archive//:runtime
build --host_javabase=@openjdk15_linux_archive//:runtime

build --java_runtime_version=remotejdk_15
build --tool_java_runtime_version=remotejdk_15
build --java_language_version=15
build --tool_java_language_version=15
